<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="turbo-visit-control" content="reload">
  </head>
<body>
<div class="search-result">
  <% if logged_in? %>
    <div class= "like_star">
        <%= render 'like_button', drug: drug, like: @like %>
    </div>
    <% else %>
      <p class= "login-announce">ログインすることでお気に入り機能が使用できます！<p>
    <% end %>
  <dl>
    <dt>
      <%= render 'formulation', drug: drug %>
    </dt>
      <dd><div class="drug-title" ><%= drug.name %></div></dd>
      <dd>
    <span class="tag-division"><%= drug.division_text %></span>

  <% unless drug.formulation == 'nose'%>
    <% drug.ingredients.each do |ingredient| %>
      <% if ingredient.drive_ng? %>
        <span class="tag-caution">運転NG</span>
      <% end %>
      <% if ingredient.alcohol_ng? %>
        <span class="tag-caution">お酒NG</span>
        <% %>
      <% end %>
      <% if ingredient.tobacco_ng? %>
        <span class="tag-caution">タバコNG</span>
      <% end %>
    <% end %>
  <% end %>
      </dd>
    <dd>
    <% drug.ingredients.each do |ingredient| %>
    <%= link_to ingredient_path(ingredient) do %>
      <span class="tag-ingredient"><%= ingredient.name %></span>
      <% end %>
    <% end %>
    </dd>
  </dl>
<table class="ta1">
  <tbody>
    <tr>
      <th>効能効果</th>
        <td><%= simple_format(drug.effect_text) %></td>
    </tr>
    <tr>
      <th>用法・用量</th>
        <td><%= simple_format(drug.formula) %></td>
    </tr>
  </tbody>
</table>
  <%= link_to drug_path(drug), class: "button-text" do %>
    <div class="btn btnmint">
      詳しい説明を見る！
    </div>
  <% end %>
</div>
</body>