<div class="search-result">
<dl>
  
<dt><span class="drug-icon"></span></dt>
<dd><div class="drug-title" ><%= drug.name %></div></dd>
<dd>
<span class="tag-division"><%= drug.division_text %></span>

<% drug.ingredients.each do |ingredient| %>
    <% if ingredient.drive_ng? %>
    <span class="tag-caution">運転NG</span>
    <% end %>
  <% end %>
</dd>
<% drug.ingredients.each do |ingredient| %>
    <% if ingredient.alcohol_ng? %>
    <span class="tag-caution">お酒NG</span>
    <% end %>
  <% end %>
<% drug.ingredients.each do |ingredient| %>
    <% if ingredient.tobacco_ng? %>
    <span class="tag-caution">タバコNG</span>
    <% end %>
  <% end %>
</dd>
<dd> <% drug.ingredients.each do |ingredient| %>
  <span class="tag-ingredient"><%= ingredient.name %></span>
  <% end  %>
  </dd>
</dl>
<table class="ta1">
<tbody>
<tr>
<tr>
<th>効能効果</th>
<td><%= simple_format(drug.effect_text) %></td>
</tr>
<tr>
<th>用法・用量</th>
<td><%= simple_format(drug.formula) %></td>
</tr>
</tbody>
</table>
  <%= link_to drug_path(drug), class: "button-text" do %>
  <div class="btn btnmint">
    詳しい説明を見る！
  </div>
  <% end %>
  </div>