<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
<body>

<% content_for(:title, t('.title')) %>
<div class="top-header"></div>
<div class="container">
    <hgroup>
<div class='midashi'><%= image_tag '眼鏡サーチ1.png', class: 'midashi_img'  %><%= t '.title' %></div>
    </hgroup>
    <%= render 'search', q: @q %>
    <% if @drugs.present? %>
        <%= render @drugs %>
    <% else %>
        <p><%= t('.no_result') %>(='X'=)</p>
    <% end %>
    <div class="pagination" >
        <%= paginate @drugs %>
    </div>
 </div>
</body>