<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="turbo-visit-control" content="reload">
  </head>
  <body>

<% content_for(:title, t('.title')) %>
<div class="top-header"></div>
<div class="container">
<hgroup>
  <h2><%= t '.title' %></h2><br>
</hgroup>
<div class="search-result">
  <% if logged_in? %>
  <div class= "like_star">
  <%= render 'like_button', drug: @drug  %>
  </div>
  <% end %>
<dl>
<dt><span class="drug-icon"></span></dt>
<dd><div class="drug-title" ><%= @drug.name %></div></dd>
<span class="tag-division"><%= drug.division_text %></span>
<% @drug.ingredients.each do |ingredient| %>
    <% if ingredient.drive_ng? %>
    <span class="tag-caution">運転NG</span>
    <% end %>
  <% end %>
</dd>
<% @drug.ingredients.each do |ingredient| %>
    <% if ingredient.alcohol_ng? %>
    <span class="tag-caution">お酒NG</span>
    <% end %>
  <% end %>
<% @drug.ingredients.each do |ingredient| %>
    <% if ingredient.tobacco_ng? %>
    <span class="tag-caution">タバコNG</span>
    <% end %>
  <% end %>
  </dd>
  <dd> <% @drug.ingredients.each do |ingredient| %>
  <span class="tag-ingredient"><%= ingredient.name %></span>
  <% end  %>
  </dd>
</dl>
<table class="ta1">
<tbody>
<tr>
<th>成分分量</th>
<td><%= simple_format(@drug.formula) %></td>
</tr>
<tr>
<th>効能効果</th>
<td><%= simple_format(@drug.effect_text) %></td>
</tr>
<tr>
<th>用法用量</th>
<td><%= simple_format(@drug.usage) %></td>
</tr>
<tr>
<th>製品の特徴</th>
<td><%= simple_format(@drug.otc_text) %></td>
</tr>
<tr>
<th>使用上の注意</th></th>
<td>
  <div id="text-wrap">
  <div class="hide-text">
  <%= simple_format(@drug.caution) %>
        </div>
        <button class="readmore">READ MORE</button>
</div>
</td>
</tr>
</tbody>
</table>
<div class= "show-center">
  <%= link_to @drug.document_url, class: "btncirlemon" do %>
    添付文書URL
  <% end %>
</div>
  </div>

</div>
</div>
</div>
</body>