<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
<body>
<% content_for(:title, t('.title')) %>
  <div class="top-header"></div>
    <div class="container">
<hgroup>
  <h2><%= t '.title' %></h2><br>
</hgroup>

<%= link_to '前のページに戻る', :back %>
<div class="search-result">
    <% if logged_in? %>
      <div class= "like_star">
        <%= render 'like_button', drug: @drug, like: @like %>
      </div>
    <% else %>
      <p class= "login-announce">ログインすることでお気に入り機能が使用できます！<p>
    <% end %>
<dl>
  <dt><%= render 'formulation', drug: @drug %></dt>
    <dd><div class="drug-title" ><%= @drug.name %></div></dd>
    <dd>
      <span class="tag-division"><%= @drug.division_text %></span>

  <% unless @drug.formulation == 'nose' %>
    <% @drug.ingredients.each do |ingredient| %>
      <% if ingredient.drive_ng? %>
        <span class="tag-caution">運転NG</span>
      <% end %>
    <% end %>
    <% @drug.ingredients.each do |ingredient| %>
      <% if ingredient.alcohol_ng? %> 
          <span class="tag-caution">お酒NG</span>
      <% end %>
    <% end %>
  <% end %>
  <% @drug.ingredients.each do |ingredient| %>
    <% if ingredient.tobacco_ng? %>
      <span class="tag-caution">タバコNG</span>
    <% end %>
  <% end %>
  </dd>
  <dd>
    <% @drug.ingredients.each do |ingredient| %>
      <%= link_to ingredient_path(ingredient) do %>
        <span class="tag-ingredient"><%= ingredient.name %></span>
      <% end %>
    <% end %>
  </dd>
</dl>

<table class="ta1">
  <tbody>
    <tr>
      <th>成分分量</th>
        <td><%= simple_format(@drug.formula) %></td>
    </tr>
    <tr>
      <th>効能効果</th>
        <td><%= simple_format(@drug.effect_text) %></td>
    </tr>
    <tr>
      <th>用法用量</th>
        <td><%= simple_format(@drug.usage) %></td>
    </tr>
    <tr>
      <th>製品の特徴</th>
        <td><%= simple_format(@drug.otc_text) %></td>
    </tr>
    <tr>
      <th>使用上の注意</th></th>
        <td>
          <div id="text-wrap">
            <div class="hide-text">
              <%= simple_format(@drug.caution) %>
            </div>
              <button class="readmore">READ MORE</button>
          </div>
        </td>
    </tr>
</tbody>
</table>

<div class= "show-center">
  <%= link_to "https://www.info.pmda.go.jp/downfiles/otc/PDF/#{@drug.document_url}.pdf", class: "btncirlemon" do %>
    添付文書URL
  <% end %>
</div>
<div class= "show-center">
  <% if @items.present? %>

<% @items.first(3).each do |item| %>
  <table class="ta2">
      <tr>
        <td><%= link_to item.url do %><%= image_tag(item.small_image_urls[0]) %><% end %></td>
        <td class= "rakuten-title"><%= link_to item.url do %><%= item.name %><% end %></td>
        <td class= "rakuten-price"><%= link_to item.url do %><%= item.price %><% end %></td>
      </tr>
  </table>
    <% end %>
  <% end %>
</div>

</div>
</div>

</body>