<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="turbo-visit-control" content="reload">
  </head>
  <body>

<% content_for(:title, t('.title')) %>
<div class="top-header"></div>
<div class="container">
<hgroup>
  <h2><%= t '.title' %></h2><br>
</hgroup>
<div class="search-result">
    <input id="click" type="checkbox"></input>
      <label for="click">
        <div class="favourite">
          <div class="spinner">
            <% (1..180).each do %>
              <div class="spinner_part"></div>
            <% end %>
          </div>
          <div class="favourite_heart">
            <div class="favourite_heart__left"></div>
            <div class="favourite_heart__right"></div>
          </div>
          <div class="favourite_text">
            <span>Favourite this</span>
          </div>
        </div>
      </label>

  <div id="like_star">
  <%= render 'like_button', drug: @drug  %>
  </div>
<dl>
<dt><span class="drug-icon"></span></dt>
<dd><div class="drug-title" ><%= @drug.name %></div></dd>
<dd><span class="tag-division">一類医薬品</span><span class="tag-caution">not眠気注意</span></dd>
<dd><span class="tag-ingredient">ロキソプロフェンナトリウム水和物</span></dd>
</dl>
<table class="ta1">
<tbody>
<tr>
<th>成分分量</th>
<td><%= simple_format(@drug.formula) %></td>
</tr>
<tr>
<th>効能効果</th>
<td><%= simple_format(@drug.effect_text) %></td>
</tr>
<tr>
<th>用法用量</th>
<td><%= simple_format(@drug.usage) %></td>
</tr>
<tr>
<th>製品の特徴</th>
<td><%= simple_format(@drug.otc_text) %></td>
</tr>
<tr>
<th>使用上の注意</th></th>
<td>
  <div id="text-wrap">
  <div class="hide-text">
 
  <%= simple_format(@drug.caution) %>
        </div>
        <button class="readmore">READ MORE</button>
</div>
</td>
</tr>
</tbody>
</table>
  <%= link_to @drug.document_url, class: "btncirlemon" do %>
    添付文書URL
  <% end %>
  </div>

</div>
</div>
</div>
</body>