<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="turbo-visit-control" content="reload">
  </head>
  <body>
<div class="container">
<%= form_with model: @user, local: true, class:'user-form' do |f| %>
<%= render 'shared/error_messages', object: f.object %>
  <div class="group textarea" >
    <%= f.label :username %>
    <%= f.text_field :username %><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group textarea" >
    <%= f.label :email %>
    <%= f.text_field :email %><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group textarea" >
    <%= f.label :password %>
    <%= f.password_field :password %><span class="highlight"></span><span class="bar"></span>
  </div>

  <div class="group textarea" >
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><span class="highlight"></span><span class="bar"></span>
  </div>
    <%= f.submit nil, class: 'btn btnpink' %>
<% end %>
</div>
</body>