<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="turbo-visit-control" content="reload">
  </head>
  <body>

<header class="site-header">
  <div class="site-header__start">
    <%= link_to image_tag('drug-logo60.png', class:'header-logo'), "/" %>
  </div>
  <div class="site-header__wrapper">
    <div class="site-header__middle" >
      <div class="hamburger"><span></span><span>Menu</span><span></span></div>
        <nav class="pc">
          <ul>
            <li class="nav__item"><%= link_to drugs_path do %>市販のお薬を<br>探す！<% end %></li>
            <li class="nav__item"><%= link_to search_path do %>近隣の薬局を<br>探す！<% end %></li>
            <li class="nav__item"><%= link_to search_path do %>お薬<br>Q&A<% end %></li>
          </ul>
        </nav>
        <nav class="phone">
          <ul>
            <li class="nav__item"><%= link_to search_path do %>市販のお薬を探す！<% end %></li>
            <li class="nav__item"><%= link_to search_path do %>近隣の薬局を探す！<% end %></li>
            <li class="nav__item"><%= link_to search_path do %>お薬Q&A<% end %></li>
          </ul>
        </nav>
      </div>
    <div class="site-header__end" >
        <ul>
          <li class="nav__user"><i class="fa-solid fa-user"></i> <%= link_to current_user.decorate.full_name, profile_path %>様</li>
          <li class="nav__logout"><%= link_to logout_path,  data: { turbo_method: "delete" } do %><i class="fa-solid fa-right-from-bracket"></i>ログアウト<% end %></li>
        </ul>
    </div>
  </div>
</header>
<%= yield(:js) %>
</body>