<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
<% content_for(:title, t('.title')) %>
<div class="top-header"></div>
<div class="container">

<hgroup>
  <h1><%= t '.title' %></h1><br>
  アカウント作成は<%= link_to 'こちら', new_user_path,  class: 'textlink' %>
</hgroup>
<div class = 'user-form'>
  <%= form_with model:@user, url: login_path, local: true do |f| %>
    <div class="group textarea">
      <%= f.label :email, User.human_attribute_name(:email) %><br>
      <%= f.text_field :email %><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group textarea">
      <%= f.label :password, User.human_attribute_name(:password) %><br>
      <%= f.password_field :password %><span class="highlight"></span><span class="bar"></span>
    </div>
      <%= f.submit (t 'defaults.login'), class: 'btn btnpink' %>
  <% end %>
  </div>
</div>
</body>