<div class="top-header"></div>
<div class="container">

<hgroup>
  <h1>Sign in</h1><br>
  <h3>アカウント作成は<%= link_to 'こちら', new_user_path %></h3>
</hgroup>
  <%= form_with url: login_path, local: true do |f| %>
    <div class="group">
      <%= f.label :username, class: 'label' %><br>
      <%= f.text_field :username %><span class="highlight"></span><span class="bar"></span>
    </div>
    <div class="group">
      <%= f.label :password, class: 'label' %><br>
      <%= f.password_field :password %><span class="highlight"></span><span class="bar"></span>
    </div>
      <%= f.submit nil, class: 'btnpink' %>
  <% end %>
</div>