<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) + ' | Care Drug Searcher' : 'Care Drug Searcher' %></title> 
    <%= csrf_meta_tags  %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" href="data:,">
  </head>
  <body>
  <% if logged_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>
      <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <script src="https://deno.land/x/embed_pdf@v1.2.0/mod.js" type="module"></script>
  </body>

</html>
